* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-azul: #5059c9;
    --color-cinza: #777A7F;
    --color-cinza-claro: #E5E5E5;
    --color-verde: rgba(0, 128, 0, 0.6);
    --color-vermelho: #F46040;
}

button {
    background-color: var(--color-azul) !important;
}


label {
    color: var(--color-cinza);
    font-weight: bold;
}

p {
    margin-bottom: 0rem;
}

.text-align-center{
    text-align: center;
}